
body{
    place-content: center;
    min-height: 100vh;
    margin: 0;
    background-color:	#d6e2f0;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
}
main{
    
    margin: auto;
    max-width: min(480px, 80%);
    padding: .5em;
    border-radius: 24px;
    background-color: #ffffff;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;

}

img {
    border-radius: 24px;
    width: 100%;
}

h1{
    font-weight:700;
    font-size: clamp(1.25rem, 5vw, 1.5rem);

}

p{
    font-weight: 400;
    font-size: 15px;
    color: #718096;
}